/*Color Palette:
#F5FEC8
#F09F87
#9895FC
#8FDBD1
#DC79D6
*/

body {
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #9895FC;
    padding: 0px 12px 0px;
}

.header-logo{
    align-self: center;
    width: 56px;
    height: 56px;
}

.box{
    background-color: #F5FEC8;
    flex:1;
}

.grid-parent{
    margin-top: auto;
    margin-bottom: auto;
}

.sketch-pad{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.grid-container{
    display:flex;
    flex-direction: column;
    height: 900px;
    width: 900px;
    box-shadow: 0 4px 14px 0 #9895FC;  
}

.grid-right-buttons{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-self: center;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 24px;

}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 24px;
    background-color: #9895FC;
    color: white;
}

.footer-left, .footer-center{
    align-self: center;
}

button{

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 16px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #F09F87;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 #9895FC;    
}

.row {
    display: flex;
    flex: 1;
}

.color-change{
    background-color: #9895FC;
}
