
:root {
    --primary-background-color: #9895FC;
    --secondary-background-color: #F5FEC8;
    --tertiary-background-color: #fed0b1;
    --primary-box-shadow-color: #9895FC;
    --primary-border-color: #FF964F;
}

body {
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 11px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: var(--primary-background-color);
    color: white;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 4px 14px 0 var(--primary-box-shadow-color);   
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-background-color);
    padding: 0px 12px 0px;
}

.header-logo{
    align-self: center;
    width: 56px;
    height: 56px;
}

.box{
    background-color: var(--secondary-background-color);
    flex:1;
}

.grid-parent{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.frame{
    border-style:solid;
    border-width: 48px;
    border-radius: 24px;
    border-color: var(--primary-border-color);
    width: 550px;
    padding: 12px;
    background-color: var(--tertiary-background-color);
}

.sketch-pad{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.grid-and-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    display:flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    padding: 4px;
    box-shadow: 0px 0px 4px var(--primary-box-shadow-color) inset; 
    background-color: white; 
}

.grid-right-buttons{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-self: center;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 12px;
}

.button-container > .clear-button {
    background-color: white;
    color: var(--primary-background-color);
}

.button-container > .clear-button:hover {
    background-color: var(--primary-background-color);
    color: white;
}

.button-container button:hover {
    color: var(--primary-background-color);
    background-color: white;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    padding: 24px;
    background-color: var(--primary-background-color);
    color: white;
}

.footer-left, .footer-center{
    align-self: center;
}

.row {
    display: flex;
    flex: 1;
}

.color-change{
    background-color: var(--primary-background-color);
}
