.box{
    background-color: blue;
    flex:1;
}

.grid-parent{
    display: flex;
    justify-content: center;
}

.grid-container{
    display:flex;
    flex-direction: column;
    height: 900px;
    width: 900px;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.new-grid{

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);    
}

.row {
    display: flex;
    flex: 1;
}

.color-change{
    background-color: rgb(255, 255, 0);
}